<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{title.address.show}"></title>
</head>
<body>
    <section>
        <ul>
            <li>
                <span th:text="#{address.name}"></span>
                <span class="name" th:text="${address.name}"></span>
            </li>
            <li>
                <span th:text="#{address.surname}"></span>
                <span class="surname" th:text="${address.surname}"></span>
            </li>
            <li>
                <span th:text="#{address.postcode}"></span>
                <span class="postcode" th:text="${address.postcode}"></span>
            </li>
        </ul>
    </section>
</body>
</html>