<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Create address</title>
</head>
<body>
    <form id="my-form" th:object="${address}" action="#" th:action="@{/address}" method="post">
        <label th:for="name">Name:</label>
        <input type="text" th:field="*{name}" />

        <label th:for="name">Surname:</label>
        <input type="text" th:field="*{surname}" />

        <label th:for="name">Postcode:</label>
        <input type="text" th:field="*{postcode}" />

        <button class="submit" type="submit">Submit</button>
    </form>
</body>
</html>