<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{title.address.create}">Create address</title>
</head>
<body>
    <form id="my-form" th:object="${address}" action="#" th:action="@{/address}" method="post">
        <label th:for="name" th:text="#{address.name}"></label>
        <input type="text" th:field="*{name}" />

        <label th:for="surname" th:text="#{address.surname}"></label>
        <input type="text" th:field="*{surname}" />

        <label th:for="postcode" th:text="#{address.postcode}"></label>
        <input type="text" th:field="*{postcode}" />

        <button class="submit" type="submit" th:text="#{form.submit}"></button>
    </form>
</body>
</html>